params.metadata = "${projectDir}/test/scenario_01/metadata.csv" 
params.sequences = "${projectDir}/test/scenario_01/query.fasta" 
params.blast_xml = "${projectDir}/test/scenario_01/blast_result.xml"
params.mock_blast = true 
params.db_type = "blast_core_nt"
params.blastdb = "/home/ubuntu/blastdbs/core_nt" 
params.taxdb = "/home/ubuntu/.taxonkit/" 
params.analyst_name = "Magdalena Antczak" 
params.facility_name = "QCIF"

singularity {
    cacheDir = '/mnt/data/images'
}

process {
	withName: EVALUATE_DATABASE_COVERAGE {
		containerOptions = " -B " + projectDir + " -B /home/ubuntu/.taxonkit/ -B /tmp/biosecurity:/mnt/data/tmp_2  -B /mnt/data/tests-wf-2/tests --writable-tmpfs"
	}
	withName: EVALUATE_SOURCE_DIVERSITY {
		containerOptions =  " -B " + projectDir + " -B /home/ubuntu/.taxonkit/ -B /tmp/biosecurity:/mnt/data/tmp_2  -B /mnt/data/tests-wf-2/tests"
	}
}