// Source credentials from .env file before using this:

// export $(grep -v '^#' .env.azure | xargs)
//
// AZURE_BATCH_ACCOUNT_NAME=daffbatch
// AZURE_BATCH_ACCESS_KEY=<primary_key>
// AZURE_BATCH_ENDPOINT=https://daffbatch.australiaeast.batch.azure.com
// NXF_AZURE_STORAGE_ACCOUNT=daffstandard
// NXF_AZURE_STORAGE_KEY=<key1>
// NXF_AZURE_REFERENCE_ACCOUNT=daffpremium
// NXF_AZURE_REFERENCE_KEY=<key1>

process {
    executor = 'azurebatch'
    queue = 'taxodactyl'
}

workDir = 'az://workdata/work'

azure {
    //
    // Standard storage for work directory
    //
    storage {
        accountName = 'daffstandard'
        // Key is automatically taken from: NXF_AZURE_STORAGE_KEY
    }

    //
    // Premium storage for reference data
    //
    reference {
        accountName = 'daffpremium'
        // Key is automatically taken from: NXF_AZURE_REFERENCE_KEY
    }

    batch {
        location = 'australiaeast'
        accountName = 'daffbatch'
        autoPoolMode = true
        allowPoolCreation = true
        vmType = 'Standard_L4s_v3'
        vmCount = 1
        maxNodes = 1
    }
}
