def pyDefaults = new groovy.yaml.YamlSlurper().parse(
    new File("${projectDir}/scripts/config/default.yml")
)

process {
    // Internal filename constants (not exposed as user params)
    ext.accessions_filename = pyDefaults.accessions_filename
    ext.blast_xml_filename = 'blast_result.xml'
    ext.hits_fasta = pyDefaults.hits_fasta
    ext.hits_json = pyDefaults.hits_json
    ext.boxplot_img = pyDefaults.boxplot_img_filename
    ext.candidates_csv = pyDefaults.candidates_csv
    ext.candidates_fasta = pyDefaults.candidates_fasta
    ext.candidates_phylogeny_fasta = pyDefaults.phylogeny_fasta
    ext.candidates_json = pyDefaults.candidates_json
    ext.candidates_sources_json = pyDefaults.candidates_sources_json
    ext.independent_sources_json = pyDefaults.independent_sources_json
    ext.bold_taxonomy_json = pyDefaults.bold_taxonomy_json
    ext.taxonomy_file = pyDefaults.taxonomy_file
    ext.candidates_msa = 'candidates_phylogeny.msa'
    ext.tree_nwk = pyDefaults.tree_nwk_filename
    ext.query_title_file = pyDefaults.query_title_file
    ext.candidates_count_file = pyDefaults.candidates_count_file
    ext.taxonomy_id_csv = pyDefaults.taxonomy_id_csv
    ext.pmi_match_csv = pyDefaults.pmi_match_csv
    ext.toi_detected_csv = pyDefaults.toi_detected_csv
    ext.log_filename = pyDefaults.log_filename
    ext.versions_yml = 'versions.yml'
}