manifest {
    name            = 'qcif/taxaplus'
    author          = """Magdalena Antczak, Cameron Hyde, Daisy Li""" // The author field is deprecated from Nextflow version 24.10.0, use contributors instead
    contributors    = [
        [
            name: 'Magdalena Antczak',
            affiliation: 'QCIF Ltd/Queensland University of Technology',
            email: 'magdalena.antczak@qcif.edu.au',
            github: 'https://github.com/mantczakaus',
            contribution: ['author'], 
            orcid: 'https://orcid.org/0000-0003-1503-1849'
        ],
        [
            name: 'Cameron Hyde',
            affiliation: 'QCIF Ltd',
            email: '',
            github: '',
            contribution: ['author'], 
            orcid: ''
        ],
        [
            name: ' Daisy Li',
            affiliation: 'QCIF Ltd',
            email: '',
            github: '',
            contribution: ['author'], 
            orcid: ''
        ],
    ]
    homePage        = 'https://github.com/qcif/taxaplus'
    description     = """Taxonomic Assignment Nextflow Workflow for Biosecurity"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=24.10.6'
    version         = '1.0.0'
    doi             = ''
}
