params {
    //
    // Pipeline specific parameters
    //

    // General input
    db_type = 'blast_core_nt'
    metadata = 'metadata.csv'
    outdir = 'output'
    sequences = 'sequences.fasta'

    // Search BOLD database
    bold_skip_orientation = 0
    bold_database_name = 'COX1_SPECIES_PUBLIC'

    // Extract candidates
    max_candidates_for_analysis = 3
    median_identity_warning_factor = 0.95
    min_identity = 0.935
    min_identity_strict = 0.985
    min_nt = 300
    min_q_coverage = 0.85
    phylogeny_min_hit_identity = 0.95
	phylogeny_min_hit_sequences = 10
    phylogeny_max_hits_per_species = 30

    // Database coverage
    allowed_loci_file = "${projectDir}/assets/loci.json"
    db_cov_country_missing_a = 1
    db_cov_min_a = 5
    db_cov_min_b = 1
    db_cov_related_min_a = 90
    db_cov_related_min_b = 10
    db_coverage_toi_limit = 10
    gbif_accepted_status = 'accepted,doubtful'
    gbif_limit_records = 500
    gbif_max_occurrence_records = 5000

    // Publications supporting taxonomic association
    min_source_count = 5

    // Report
    blast_database_name_for_report = "BLAST Core Nt"
    blast_max_target_seqs_for_report = 2000
    report_debug = 0

    // General
    email = null
    logging_debug = 0

    //
    // Output filenames
    //

    // Search BLAST database filenames
    accessions_filename = 'accessions.txt'
    blast_xml_filename = 'blast_result.xml'

    // General database search filenames
    hits_fasta_filename = 'all_hits.fasta'
    hits_json_filename = 'all_hits.json'

    // Extract candidates filenames
    boxplot_img_filename = 'candidates_identity_boxplot.png'
    candidates_csv_filename = 'candidates.csv'
    candidates_fasta_filename = 'candidates.fasta'
    candidates_phylogeny_fasta_filename = 'candidates_phylogeny.fasta'
    candidates_json_filename = 'candidates.json'
    candidates_sources_json_filename = 'candidates_sources.json'
    independent_sources_json_filename = 'aggregated_sources.json'

    // Taxonomy filenames
    bold_taxonomy_json = 'bold_taxonomy.json'
    taxonomy_filename = 'taxonomy.csv'

    // Multiple sequence alignment filename
    candidates_msa_filename = 'candidates_phylogeny.msa'

    // Phylogenetic tree filename
    tree_nwk_filename = 'candidates_phylogeny.nwk'

    //
    // Default nf-core parameters
    //

    // Boilerplate options
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')// Config options
    config_profile_name        = null
    config_profile_description = null

    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null

    // Schema validation default options
    validate_params            = true

}