params {
    //
    // Pipeline specific parameters
    //

    // General input
    db_type = 'blast_core_nt'
    metadata = 'metadata.csv'
    outdir = 'output'
    sequences = 'sequences.fasta'
    ncbi_api_key = null
    ncbi_user_email = null

    // Search BOLD database
    bold_skip_orientation = 0

    // Extract candidates
    max_candidates_for_analysis = 3
    median_identity_warning_factor = 0.95
    min_identity = 0.935
    min_identity_strict = 0.985
    min_nt = 300
    min_q_coverage = 0.85

    // Database coverage
    allowed_loci_file = "${projectDir}/assets/loci.json"
    db_cov_country_missing_a = 1
    db_cov_min_a = 5
    db_cov_min_b = 1
    db_cov_related_min_a = 90
    db_cov_related_min_b = 10
    db_coverage_toi_limit = 10
    gbif_accepted_status = 'accepted,doubtful'
    gbif_limit_records = 500
    gbif_max_occurrence_records = 5000

    // Publications supporting taxonomic association
    min_source_count = 5

    // Report
    blast_database_name_for_report = "NCBI Core Nt"
    blast_max_target_seqs_for_report = 2000
    report_debug = 0

    // General
    email = null
    logging_debug = 0

    //
    // Output filenames
    //

    // Search BLAST database filenames
    accessions_filename = 'accessions.txt'
    blast_xml_filename = 'blast_result.xml'

    // General database search filenames
    hits_fasta_filename = 'all_hits.fasta'
    hits_json_filename = 'all_hits.json'

    // Extract candidates filenames
    boxplot_img_filename = 'candidates_identity_boxplot.png'
    candidates_csv_filename = 'candidates.csv'
    candidates_fasta_filename = 'candidates.fasta'
    candidates_json_filename = 'candidates.json'
    candidates_sources_json_filename = 'candidates_sources.json'

    // Taxonomy filenames
    bold_taxonomy_json = 'bold_taxonomy.json'
    taxonomy_filename = 'taxonomy.csv'

    // Multiple sequence alignment filename
    candidates_msa_filename = 'candidates.msa'

    // Phylogenetic tree filename
    tree_nwk_filename = 'candidates.nwk'

}