params {
    // Pipeline specific options
    accessions_filename = 'accessions.txt'
    taxonomy_filename = 'taxonomy.csv'
    query_title_filename = 'query_title.txt'
    hits_json_filename = 'hits.json'
    hits_fasta_filename = 'blast_hits.fasta'
    flags_csv_filename = 'flags.json'
    taxonomy_id_filename = 'assigned_taxonomy.txt'
    candidates_fasta_filename = 'candidates.fasta'
    candidates_csv_filename = 'candidates.csv'
    candidates_json_filename = 'candidates.json'
    toi_detected_csv_filename = 'taxa_of_concern_detected.csv'
    min_nt = 400
    min_q_coverage = 0.85
    min_identity = 0.935
    min_identity_strict = 0.985
    timestamp_filename = 'timestamp.txt'
    pmi_match_csv_filename = 'pmi_match_results.csv'
    candidates_sources_json_filename = 'candidates_sources.json'
    db_coverage_json_filename = 'db_coverage.json'
    gbif_accepted_status = 'accepted,doubtful'
    gbif_limit_records = 500
    ncbi_api_key = 'd2c2e49b459493d627948bc7d5a07fca5c08'
    user_email = 'magdalena.antczak@qcif.edu.au'
}