process {
    errorStrategy = 'ignore'
    cpus = 1
    memory = '1MB'
    time = '2m'
    withName: VALIDATE_INPUT {
        container = "docker://neoformit/daff-taxonomic-assignment:v0.2.0"
    }
    withName: CONFIGURE_ENVIRONMENT {
        publishDir = [path: { "${workDir}" }]
    }
    withName: BLAST_BLASTN {
        cpus = 4
        memory = '7GB'
        time = '4h'
        container = "docker://ncbi/blast:2.16.0"
    }
    withName: EXTRACT_HITS {
        container = "docker://neoformit/daff-taxonomic-assignment:v0.2.0"
    }
    withName: BLAST_BLASTDBCMD {
        container = "docker://ncbi/blast:2.16.0"
    }
    withName: EXTRACT_TAXONOMY {
        memory = '1GB'
        cpus = 2
        container = "docker://neoformit/daff-taxonomic-assignment:v0.2.0"
    }
    withName: EXTRACT_CANDIDATES {
        container = "docker://neoformit/daff-taxonomic-assignment:v0.2.0"
    }
    withName: EVALUATE_SOURCE_DIVERSITY {
        container = "docker://neoformit/daff-taxonomic-assignment:v0.2.0"
    }
    withName: EVALUATE_DATABASE_COVERAGE {
        cpus = 2
        memory = '2GB'
        time = '1h'
        container = "docker://neoformit/daff-taxonomic-assignment:v0.2.0"
    }
    withName: MAFFT_ALIGN {
        cpus = 2
        container = "quay.io/biocontainers/mulled-v2-12eba4a074f913c639117640936668f5a6a01da6:425707898cf4f85051b77848be253b88f1d2298a-0"
    }
    withName: FASTME {
         container = "quay.io/biocontainers/fastme:2.1.6.1--hec16e2b_1"
    }
    withName: REPORT {
        stageInMode = 'copy'
        container = "docker://neoformit/daff-taxonomic-assignment:v0.2.0"
    }
}