/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run /path/to/pipeline/nf-daff-biosecurity-wf2/main.nf -profile test,singularity --taxdb /path/to/.taxonkit/

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    metadata = "${baseDir}/test/metadata.csv" 
    sequences = "${baseDir}/test/query.fasta" 
    db_type = 'bold' 
    analyst_name = 'Test analyst' 
    facility_name = 'Test facility' 
}
