validation {
    defaultIgnoreParams = ["genomes"]
    monochromeLogs = params.monochrome_logs
    help {
        enabled = true
        // command = """nextflow run /path/to/pipeline/taxodactyl/main.nf \
        //             --metadata /path/to/metadata.csv \
        //             --sequences /path/to/sequences.fasta \
        //             --blastdb /path/to/blastdbs/core_nt \
        //             --outdir /path/to/output \
        //             -profile singularity \
        //             --taxdb /path/to/.taxonkit/ \
        //             --analyst_name "Magdalena Antczak" \
        //             --facility_name "QCIF" """
        fullParameter = "help_full"
        showHiddenParameter = "show_hidden"
    }
}