[Unit]
Description=Taxodactyl Input Validation app
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/mnt/data/taxodactyl_repo/services/input_validation
ExecStartPre=/usr/bin/npm run build --prefix client
ExecStart=/mnt/data/taxodactyl_repo/services/input_validation/api/venv/bin/honcho start
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
