params.metadata = "${projectDir}/test/scenario_04/metadata.csv" 
params.sequences = "${projectDir}/test/scenario_04/query.fasta" 
params.blast_xml = "${projectDir}/test/scenario_04/blast_result.xml"
params.mock_blast = true 
params.db_type = "blast_core_nt"
params.blastdb = CUSTOMISE
params.taxdb = CUSTOMISE
params.temp_root_dir = CUSTOMISE
params.temp_dir_name = "scenario_04"

singularity {
    cacheDir = CUSTOMISE
}

